body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117 38 255 / 61%);
    font-family: sans-serif;
}
.calculator {
    max-width: 500px;
    width: 100%;
    padding: 50px;
    border-radius: 7px;
    background-color: #000;
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61);
}
.display {
    width: 100%;
    height: 80px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2rem;
    background-color: #102a9c;
    color: #fff;
    text-align: right;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 25px;
}
.row {
    display: flex;
    justify-content: space-between;
}
button {
    width: 90px;
    height: 80px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 2.5rem;
    background-color: #222;
    color: #fff;
    margin: 10px;
}
button:hover {
    cursor: pointer;
    background-color: gray;
}
.operator {
    background-color: #0b29dc;
    color: #fff;
}